body{
  background-color: #634672;
}
.content{
  font-family: 'Noto Sans', sans-serif;
font-family: 'Abril Fatface', cursive;
font-size: 40px;
margin: 30px;
background-color: #634672;
color:white;
}
img{
  width: 400px;
  height: 400px;
  text-align: left;
}
.text-1{
  font-size: 50px;
}
.text-2{
  font-size: 40px;
}
.btn{
  background-color: #DF58A2;
  color:black;
  padding: 30px;
}
.row{
  margin-top: 30px;
}
.img1{
  position: relative;
}
.info1{
  position: absolute;
  top:50px;
  left:230px;
  font-size: 30px;
}
.img2{
  position: relative;
}
.info2{
  position: absolute;
  top:50px;
  left:260px;
  font-size: 30px;
}
.img3{
  position: relative;
}
.info3{
  position: absolute;
  top:50px;
  left:230px;
  font-size: 30px;
}
.span1{
  font-weight: bold;
}
.span2{
  color:#939393;
  font-size: 20px;
  margin-left: 100px;
}
.span3{
  margin-left: 40px;
  font-size: 20px;
}
